# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
log/
log.txt
.env
.air.toml
./bin
./tmp
./uploads
Data_Platinum_Plus.xlsx
Data_Renewal.xlsx
file-report-asuransi.xlsx
file1.xlsx
pembayaran-renewal.xlsx
